# ===================================================================
# artellapipe-tools-bugtracker requirements file
# ===================================================================

artellapipe
py-cpuinfo
gputil